@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');
@import './variables';
@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* default css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

p {
    font-family: "Roboto", sans-serif;
}

::selection {
    background: rgba(218, 134, 97, 1);
    color: #FFFFFF;
}

ul {
    padding: 0;
    list-style: none;
}

h1 {
    font-family: 'Alike', serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 999;
}

/* STICKY STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 14px 0;
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
    background-color: $site-color;



}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

// .navbar-area {
//     padding: 10px 0;
//     background-color: transparent;
//     border-bottom: solid 2px #da8661;
//     width: 100%;
//     position: absolute;


// }
a.site-logo img {
    max-width: 50%;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            padding: 0 20px;

            a {
                color: $color_1;
                padding: 20px;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;

                &:hover {
                    color: #cb8670;
                }

                &.active {
                    color: #cb8670 !important;
                }
            }
        }
    }
}

.nav-toggler {
    border: 3px solid transparent;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;

    span {
        width: 28px;
        height: 3px;
        background-color: $color_1;
        display: block;
        transition: .3s;

        &:before {
            width: 28px;
            height: 3px;
            background-color: $color_1;
            display: block;
            transition: .3s;
            content: '';
            transform: translateY(-9px);
        }

        &:after {
            width: 28px;
            height: 3px;
            background-color: $color_1;
            display: block;
            transition: .3s;
            content: '';
            transform: translateY(6px);
        }
    }
}

.nav-toggler.toggler-open {
    span {
        background-color: $background-color_1;

        &:before {
            transform: translateY(0px) rotate(45deg);
        }

        &:after {
            transform: translateY(-3px) rotate(-45deg);
        }
    }
}

// header css end here 
// banner  css start form  here 
main.banner-main {
    overflow: hidden;
}

section.site-banner {
    background: url(../images/banner.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;


    &::after {
        background-color: rgb(0 0 0 / 29%);
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        inset: 0;
        z-index: -1;
    }

    .bar-text {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;

        text-align: center;

        h1 {
            color: #fff;
            font-family: 'Alike', serif;
            font-size: 85px;
            letter-spacing: 2px;
            text-transform: capitalize;
        }

        p {
            color: $color_1 ;
            max-width: 910px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            line-height: 2.25;
            margin-top: 12px;
        }
    }
}



// banner  css end  here 

section.diverse {
    padding: 80px 0;

    .diverse-text {
        P {
            color: $color_black;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            line-height: 2.25;
            margin-top: 12px;
        }
    }

}

footer.footer {
    background-color: $site-color;
    padding: 60px 0 0 0;
    margin-top: 100px;

    img.knsl-footer-logo {
        width: 100%;
        margin-bottom: 33px;
        max-width: 221px;
    }

    .knsl-footer-about {
        display: block;
        width: 80%;
        color: $color_1;
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
    }

    .knsl-footer-social {
        padding-top: 50px;
    }

    .knsl-footer-social i {
        background: $color_1;
        height: 40px;
        width: 40px;
        padding: 9px;
        text-align: center;
        color: $site-color;
        font-size: 22px;
        border-radius: 30px;
        transition: all 0.2s;

        &:hover {
            background-color: #da8661;
            color: $color_1;
        }
    }

    .knsl-footer-social a {
        color: $color_1;
        margin-right: 10px;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }

    .footer-inner h4 {
        position: relative;
        margin-bottom: 33px;
        color: #ECFAFB;
        line-height: 30px;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
    }

    .footer-menu li {
        margin-bottom: 20px;
    }

    ul.footer-menu li a {
        color: $color_1;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        transition: all 0.3s;
        text-transform: capitalize;

        &:hover {
            color: #cb8670;
            padding-left: 10px;
        }
    }

    .footer-insta a {
        border-radius: 5px;
        display: block;
        position: relative;
        overflow: hidden;
        width: 25%;
        padding-bottom: 28%;
        transition: 0.4s ease-in-out;
        margin: 0 15px 0px 0;
        overflow: hidden;
    }

    .footer-insta {
        float: left;
        font-size: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        & a:hover {
            transform: scale(1.05);
        }
    }

    .footer-insta a img {
        position: absolute;
        border-radius: 5px;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    .knsl-copyright {
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 20px 0;
        color: #8588A2;
        margin-top: 60px;
    }

    .knsl-copyright .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        font-family: 'Noto Sans', sans-serif;
    }

    .copy-text {
        text-align: center;
        width: 100%;
        color: $color_1;
        font-family: 'Noto Sans', sans-serif;

        a {
            color: #cb8670
        }
    }
}


.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 6px;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: capitalize;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

img.content-image {
    height: 293px;
    object-fit: cover;
    border-radius: 6px
}


// Privacy Policy
section.privacy {
    padding: 80px;
    background: url(../images/Privacy-.avif);
    @include bg-pro;
    z-index: 1;

    &::after {
        background-color: rgb(0 0 0 / 29%);
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        inset: 0;
        z-index: -1;
    }

    .privacy-text {
        h2 {
            text-align: center;
            font-family: 'Alike', serif;
            font-size: 40px;
            color: $color_1;
        }
    }
}

section.resource {
    padding: 80px 0 0;

    .resource-inner {
        h5 {

            font-family: "Alike", serif;
            font-size: 26px;
            color: $site-color;
            font-weight: 500;
            margin: 10px 0;
        }

        p {
            color: $color_black;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            line-height: 2.25;

        }

        ul {
            li {
                color: $color_black;
                font-size: 16px;
                font-family: "Roboto", sans-serif;
                line-height: 2.25;
                position: relative;
                padding-left: 20px;
                padding-bottom: 15px;

                &::after {
                    position: absolute;
                    content: "";
                    background: $site-color;
                    width: 8px;
                    height: 8px;
                    top: 8px;
                    left: 0;
                    border-radius: 50%;
                }
            }
        }
    }
}

section.privacy.term {
    background: url(../images/termn.jpg);
    @include bg-pro;
    z-index: 1;
}

// section.inner-bnr{
section.inner-bnr {
    background: url(../images/hotels.png);
    @include bg-pro;
    z-index: 1;


    &::after {
        background-color: #00000059;
        position: absolute;
        inset: 0;
        content: '';
        height: 100%;
        z-index: -1;
        width: 100%;
    }

    .bar-text {
        text-align: center;

        h2 {
            font-family: "Alike", serif;
            font-size: 40px;
            color: $color_1;
        }
    }
}

// 
section.best-hotels {
    padding: 80px 0;

    .best-hotel {
        text-align: center;

        h3 {
            font-weight: 500;
            letter-spacing: 0.10em;
            margin-bottom: 0.5em;
            text-transform: capitalize;
            color: $color_black;
        }

        p {
            color: $color_black;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            line-height: 2.25;

        }
    }
}

section.top-hotels {
    h3 {
        margin-bottom: 80px;
        text-align: center;
        font-family: "Alike", serif;
        font-size: 26px;
    }

    .top-hotel {
        .wrapper-card {
            background-color: #fff;
            height: 100%;
            border-radius: 6px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            figure {
                margin: 0;
                overflow: hidden;

                img {
                    height: 275px;
                    object-fit: cover;
                    object-fit: cover;
                    transition: transform .5s ease-in-out;

                    &:hover {
                        transform: scale(1.6) rotate(25deg);
                    }
                }
            }

            .content-wrapper {
                padding: 30px;

                h4 {
                    font-weight: 700;
                    color: $site-color;
                    font-size: 20px;
                    font-family: "Roboto", sans-serif;
                }

                p {
                    color: $color_black;
                    font-size: 16px;
                    font-family: "Roboto", sans-serif;
                    line-height: 28px;
                }

                .btn-wrapper {
                    a {
                        background-color: $site-color;
                        color: $color_1;
                        padding: 14px 40px;
                        font-size: 16px;
                        border-radius: 6px;
                        border: 1px solid $site-color;
                        display: inline-block;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: transparent;
                            color: $site-color;
                            border: 1px solid $site-color;

                        }
                    }
                }
            }
        }

        &.ccean {
            margin-top: 30px;
        }
    }

    .top-hotel.ccean.last {
        .row {
            .col-lg-4:last-child {
                margin-top: 30px;
            }
        }
    }
}

section.location {
    padding-top: 80px;

    .location-wrapper p {
        color: #000;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        line-height: 28px;
    }

    .location-wrapper.criteria {
        margin-top: 70px;
    }

    .location-main {
        margin-top: 80px;

        .item-card {
            text-align: center;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 7px 0 rgb(0 0 0/13%);
            padding: 2rem 3rem;
            position: relative;
            border: 1px solid $site-color;
            height: 100%;
            z-index: 3;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $site-color;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform 0.5s;
                z-index: -1;
                border-radius: 7px;
            }

            &:hover::before {
                transform: scaleY(1);
                transform-origin: bottom;
                transition: transform 0.5s;
            }

            &:hover h3,
            &:hover p {
                color: $color_1;
            }

            &:hover .icon-box {
                border: 1px solid $color_1;
            }




            .icon-box {
                width: 100%;
                max-width: 74px;
                height: 74px;
                margin: 0 auto;
                background: $site-color;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $site-color;

                img {
                    max-width: 34px;
                    margin: 0 auto;
                    filter: brightness(0) invert(1);
                    animation-name: objects-on-platform;
                    animation-duration: 2s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;
                }
            }

            h3 {
                font-family: "Alike", serif;
                font-size: 26px;
                color: $site-color;
                margin: 16px 0;
            }

            p {
                line-height: 30px;
            }
        }

        &.decisions {
            margin-top: 30px;

            & .row .col-lg-4:nth-child(4),
            & .row .col-lg-4:nth-child(5),
            & .row .col-lg-4:nth-child(6),
            & .row .col-lg-4:last-child {
                margin-top: 30px;
            }
        }

    }
}

@keyframes objects-on-platform {
    0% {
        transform: rotate(-7deg);
    }

    50% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(-7deg);
    }
}

.choose-inr .choose-box img {
    max-width: 50px;
    margin: 0 auto;
    filter: brightness(0) invert(1);
}

//  casino page css start form here
section.inner-bnr.casinos {
    background: url(../images/Casinos-bnr.jpeg);
    @include bg-pro;
    z-index: 1;

}

// 
section.inner-bnr.about {
    background: url(../images/About-Us.jpg);
    @include bg-pro;
    z-index: 1;
}

section.vision-wrapper {
    .vision {
        h4 {
            color: $site-color;
            font-family: "Alike", serif;
            font-size: 28px;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin-bottom: 20px;
            font-weight: 00;
        }

        h5 {
            color: $site-color;
            font-size: 20px;
            font-weight: 500;
            text-transform: capitalize;
            font-family: "Alike", serif;
        }
    }
}

// 
section.inner-bnr.stadiums {
    background: url(../images/Stadium.webp);
    @include bg-pro;
}

@import'./responsive';